[Unit]
Description=OMT Player
After=network.target

[Service]
ExecStart=/opt/omtplayer/omtplayer
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
